.swiper-container {
    width: 100%;
    height: 100%;
  }
  
  .mySwiper {
    padding: 20px 0;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    color: gray !important; /* Sesuaikan warna sesuai kebutuhan */
    font-size: 2rem !important;
  }

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.5rem !important;
  background-color: gray !important;
  height: 50%;
}
  @media (max-width: 1024px) {
    .Best-Seller{
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  @media (max-width: 768px) {
    .swiper-slide {
      flex-direction: column;
    }
    .Best-Seller{
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  
  /* Assuming you have a main stylesheet or CSS file */

.all-nav {
  position: relative;
  width: 100%;
  z-index: 1000; /* Ensures the navbar is on top of other elements */
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1000;
}
